<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="container text-center">
    <div class="card text-center col-md-12">
        <div class="card-header">
          Cadastrar Participante
        </div>
        <form action="#" th:action="@{/evento/participante/add/{nome_evento}(nome_evento=${evento.nome})}" th:object="${participante}" method="post">
        <div class="card-body">
          <h5 class="card-title">Adicionar Participante no Evento: <b><span th:text="${evento.nome}"></span></b></h5>
          <div class="mb-2">
            <label for="nome" class="form-label">Nome do Participante</label>
            <input type="text" class="form-control" th:field="*{nome}" id="nome">
          </div>
          <div class="mb-2">
            <label for="numeroInscricao" class="form-label">Número de Inscrição</label>
            <input type="text" class="form-control" th:field="*{numeroInscricao}" id="capacidade">
          </div>
          <input type="hidden" class="form-control" th:field="*{evento}" id="evento">
          <button type="submit" class="btn btn-primary">Salvar</a>
        </div>
        </form>
      </div>
    </div>
</body>
</html>