<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="container text-center">
    <div class="card text-center col-md-12">
        <form action="#" th:action="@{/evento/criar}" th:object="${evento}" method="post">
        <div class="card-body">
          <h5 class="card-title">Preencha o formulário</h5>
          <div class="mb-2">
            <label for="nome" class="form-label">Nome do Evento</label>
            <input type="text" class="form-control" th:field="*{nome}" id="nome">
          </div>
          <div class="mb-2">
            <label for="data" class="form-label">Data do Evento</label>
            <input type="date" class="form-control" th:field="*{data}" id="data">
          </div>
          <div class="mb-2">
            <label for="local" class="form-label">Local</label>
            <input type="text" class="form-control" th:field="*{local}" id="local">
          </div>
          <div class="mb-2">
            <label for="capacidade" class="form-label">Capacidade</label>
            <input type="text" class="form-control" th:field="*{capacidade}" id="capacidade">
          </div>
          <button type="submit" class="btn btn-primary">Salvar</a>
        </div>
        </form>
      </div>
      <br>
      <a href="/evento/listar" class="btn btn-success">Listar Eventos Existentes</a>
    </div>
</body>
</html>