<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="container text-center">
        <div class="card text-center col-md-12">
            <form action="#" th:action="@{/clinica/paciente/criar}" th:object="${paciente}" method="post">
            <div class="card-body">
              <h5 class="card-title">Preencha o formulário</h5>
              <div class="mb-2">
                <label for="nome" class="form-label">Nome do Paciente</label>
                <input type="text" class="form-control" th:field="*{nome}" id="nome">
              </div>
              <div class="mb-2">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" th:field="*{cpf}" id="cpf">
              </div>
              <div class="mb-2">
                <label for="idade" class="form-label">Idade</label>
                <input type="text" class="form-control" th:field="*{idade}" id="idade">
              </div>
              <div class="mb-2">
                <label for="medico" class="form-label">Médico</label>
                <select class="form-control" th:field="*{hMedico}">
                    <option value="0">Selecione um Médico</option>
                    <option th:each="medico : ${medicos}" th:value="${medico.nome}" th:text="${medico.nome}"></option>
                </select>
              </div>
              <div class="mb-2">
                <label for="ultConsulta" class="form-label">Última Consulta</label>
                <input type="date" class="form-control" th:field="*{ultConsulta}" id="ultConsulta">
              </div>
              <button type="submit" class="btn btn-primary">Salvar</a>
            </div>
            </form>
          </div>
          <br>
          <a href="/clinica/paciente/listar" class="btn btn-success">Listar Pacientes Existentes</a>
        </div>
</body>
</html>